@import '~/src/utils.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include desktop {
    margin-top: 89px;
  }

  .title {
    color: color(footerGray);
    text-align: center;

    @include desktop {
      font-size: 48px;
      line-height: 38px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 24px;
      margin-left: pt2px(22);
      margin-right: pt2px(22);
      margin-bottom: pt2px(15);
      margin-top: pt2px(35);
    }
  }

  .description {
    color: color(textGray);
    text-align: center;

    @include desktop {
      font-family: 'Roboto-Light';
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 29px;
    }
    @include mobile {
      font-family: 'Roboto-Regular';
      margin-left: pt2px(21);
      margin-right: pt2px(21);
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 30px;
    }
  }

  .video-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    @include mobile {
      margin: 0px 15px 25px 15px;
    }   

    .video-single {
      @include desktop {
        justify-content: center;
      }
    }

    .video-single {
      width: 100%;

      @include desktop {
        display: flex;
        flex-direction: row;
      }

      > div {    
        @include desktop {
          width: 60%;
        }
        @include mobile {
          width: 100%;
        }

        // &:not(:last-child) {
        //   @include mobile {
        //       margin-bottom: 30px;
        //   }
        // }

        > div {
          width: 100%;
          position: relative;
          padding-bottom: 56.25%;
      
          > iframe {
            position: absolute;
          }
        }
      }
    }
  }

  .solutions-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: color(harmanBlue);

    .solutions {
      @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 44px;
        margin: 80px 0px;
      }
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px pt2px(35) pt2px(63);
      }

      > div {
        text-align: center;
      }

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
          margin-top: pt2px(55);
        }

        .hardware {
          @include desktop {
            width: 114px;
          }
          @include mobile {
            width: 80px;
          }
        }

        .software {
          @include desktop {
            width: 129px;
          }
          @include mobile {
            width: 80px;
          }
        }

        .product-design {
          @include desktop {
            width: 118px;
          }
          @include mobile {
            width: 69px;
          }
        }

        .cobranding {
          @include desktop {
            width: 152px;
          }
          @include mobile {
            width: 80px;
          }
        }
      }

      .solution-title {
        color: color(white);
        font-family: 'Roboto-Regular';
        font-weight: bold;
        @include desktop {
          margin-top: 40px;
          font-size: 28px;
          line-height: 59px;
        }
        @include mobile {
          margin-top: pt2px(17);
          font-size: pt2px(22);
          line-height: pt2px(28);
        }
      }

      .solution-description {
        color: color(white);
        font-family: 'Roboto-Regular';
        @include desktop {
          margin-top: 18px;
          font-size: 18px;
          line-height: 26px;
        }
        @include mobile {
          margin-top: pt2px(6);
          font-size: pt2px(14);
          line-height: pt2px(24);
        }
      }

      .solution-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
          padding-top: 50px;
        }
        @include mobile {
          padding-top: pt2px(21);
        }

        .button {
          @include desktop {
            width: 174px;
            padding-left: 0px;
            padding-right: 0px;
          }
          @include mobile {
            width: 136px;
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
  }
}