@import '~/src/utils.scss';

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include desktop {
      margin: $section-paragraph-padding 0;
    }
    @include mobile {
      margin: 45px 0 54px;
    }
  }

  .text {
    color: color(white);
    text-align: center;
    width: 80%;
    white-space: pre-wrap;
  }

  .margin {
    @include desktop {
      margin-bottom: $regular-paragraph-padding;
    }
    @include mobile {
      margin-bottom: 30px;
    }
  }

  .button {
    @include desktop {
      min-width: 125px;
    }
    @include mobile {
      width: pt2px(104);
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}