@import '~/src/utils.scss';

.container {
  background-color: #F0F0EF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    padding-top: 99px;
    padding-bottom: 51px;
  }
  @include mobile {
    height: 100%;
    padding-top: 44px;
    padding-bottom: 40px;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      height: 100%;
    }
  }

  .title {
    color: color(textGray);
    text-align: center;

    @include desktop {
      font-size: 48px;
      line-height: 59px;
      margin-bottom: 69px;
    }
    @include mobile {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 44px;
    }
  }

  .news {
    display: grid;
    width: 100%;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 25px;
      margin-bottom: 58px;
    }
    @include mobile {
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      margin-bottom: 40px;
      padding: 0 14px;
      grid-row-gap: 10px;
    }
  }
}