@import '~/src/utils.scss';

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  @include desktop {
    opacity: 0.62;
    background: linear-gradient(154.96deg, #002DAE 0%, #840DBD 100%);
  }
  @include mobile {
    background: none;
  }
}

.background {
  @include mobile {
    object-position: 43%;
  }
}

.video {
    position: relative;
    width: 100%;

    > img {
        position: absolute;

        @include desktop {
            width: 156px;
            right: 37px;
            bottom: 26px;
        }
    }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 68px;
    margin-bottom: 110px;
  }
  @include mobile {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .introduction-header {
    color: color(textGray);
    text-align: center;

    @include desktop {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 24px;
    }
    @include mobile {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 21px;
      padding: 0 26px;
    }
  }

  .introduction-text {
    color: #000000;
    text-align: center;

    @include desktop {
      font-family: 'Roboto-Light';
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 78px;
    }
    @include mobile {
      font-family: 'Roboto-Regular';
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 25px;
      padding: 0 5%;
    }
  }

  .introduction-container {
    @include desktop {
      max-width: $screen-desktop-max-width;
    }
    @include mobile {
      width: 100%;
      height: 100%;
    }

    .introduction-grid {
      display: grid;
  
      @include desktop {
        grid-column-gap: 69px;
        grid-template-areas: "image content";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
  
      @include mobile {
        grid-template-areas: "image"
                             "content";
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-row-gap: 18px;
      }
  
      .introduction-image-container {
        grid-area: image;
  
        @include desktop {
          min-height: 372px;
          display: flex;
          flex-direction: column;
        }

        > div {
            width: 100%;
            position: relative;

            @include mobile {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .introduction-info-img {
              width: 100%;
              object-fit: contain;

              @include desktop {
                position: absolute;
              }
            }

            .audioefx-logo {

                @include desktop {
                  position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                @include mobile {
                    width: 164px;
                    margin-top: 41px;
                }

                > img {
                  @include desktop {
                    width: 213px;
                    margin-bottom: 12px;
                  }
                }

                > div {
                  color: color(white);
                  @include desktop {
                    font-size: 20px;
                    line-height: 24px;
                  }
                }
            }
        }
      }
  
      .introduction-content-container {
        grid-area: content;
        display: flex;
        flex-direction: column;
  
        @include desktop {
          padding-left: 27px;
          padding-right: 16.66%;
        }

        .introduction-small-header {
          color: color(harmanBlue);

          @include desktop {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 25px;
          }
          @include mobile {
            text-align: center;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 18px;
            padding: 0 26px;
          }
        }

        .introduction-description {
          color: color(textGray);

          @include desktop {
            font-size: 24px;
            line-height: 38px;
          }
          @include mobile {
            text-align: center;
            font-size: 12px;
            line-height: 18px;
            padding: 0 21px;
          }
        }
      }
    }
  }
}

.content-container {
  width: 100%;
  display: grid;

  @include desktop {
    padding-top: $section-paragraph-padding;
  }

  > div {
    display: flex;
    flex-direction: column;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .title {
    color: color(harmanBlue);

    @include desktop {
      font-size: 25px;
      margin-bottom: 32px;
    }
  }
}

.tab1, .tab2, .tab3 {

  @include desktop {
    grid-template-areas: "left right";
    grid-template-columns: 6fr 5fr;
    grid-template-rows: auto;
    grid-column-gap: 124px;
  }
  @include mobile {
    grid-template-areas: "right"
                         "left";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 33px;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.tab-description {
  color: #000000;

  @include desktop {
    font-family: 'Roboto-Light';
    font-size: 22px;
    line-height: 29px;
  }
  @include mobile {
    font-family: 'Roboto-Regular';
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    padding: 0 21px;
  }
}

.tab-text {
  color: #000000;

  @include desktop {
    font-family: 'Roboto-Light';
    font-size: 18px;
    line-height: 24px;
  }
  @include mobile {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 22px;
  }

  li {
    @include mobile {
      padding: 0 21px;
    }
  }
}

.tab1 {

  .tab-description {
    @include desktop {
      margin-bottom: 44px;
    }
    @include mobile {
      margin-bottom: 17px;
    }
  }

  li:not(:last-child) {
    @include desktop {
      margin-bottom: 24px;
    }
    @include mobile {
      margin-bottom: 22px;
    }
  }

  img {
    @include desktop {
      max-width: 463px;
    }
  }
}

.tab2 {

  .tab-description {
    @include desktop {
      margin-bottom: 83px;
    }
    @include mobile {
      margin-bottom: 10px;
    }
  }

  .tab-text {
    @include mobile {
      text-align: center;
    }
  }

  img {
    @include desktop {
      max-width: 475px;
    }
  }
}

.tab3 {

  .tab-description {
    @include desktop {
      margin-bottom: 31px;
    }
    @include mobile {
      margin-bottom: 32px;
    }
  }

  ul {
    list-style-type: circle;
    list-style-position: inside;
  }

  img {
    @include desktop {
      max-width: 516px;
    }
  }
}

.hear-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include mobile {
    margin-bottom: 30px;
  }

  > div {
    @include mobile {
      width: 100%;
    }
  }

  .hear-title {
    color: color(textGray);
  
    @include desktop {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 24px;
    }
  
    @include mobile {
      font-size: 24px;
      line-height: 34px;
      margin: 0 18px;
      margin-top: 40px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  .hear-subtitle {
    color: #000000;
  
    @include desktop {
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 70px;
    }
  
    @include mobile {
      font-size: 14px;
      line-height: 18px;
      margin: 0 21px;
      margin-bottom: 22px;
      text-align: center;
    }
  }

  .hear-items {
    display: grid;

    @include desktop {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 64px;
      grid-row-gap: 21px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-row-gap: 14px;
      padding: 0 14px;
    }

    > * {
      @include mobile {
        justify-self: center;
      }
    }

    .gray-container {
      display: grid;
      background-color: #F6F6F6;

      @include desktop {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        grid-column-gap: 22px;
        padding: 20px 22px 20px;
      }

      @include mobile {
        grid-template-columns: auto 1fr auto 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        padding: 25px 22px;
        width: 100%;
      }
    }

    img {
      cursor: pointer;

      @include desktop {
        width: 40px;
      }

      

      @include mobile {
        width: 40px;
      }
    }

    > div {
      display: flex;
      align-items: center;
    }

    .hear-label {
      color: color(textGray);

      @include desktop {
        font-size: 22px;
        line-height: 29px;
      }

      @include mobile {
        font-size: 18px;
        line-height: 29px;
      }
    }

    .hear-text {
      color: #000000;

      @include desktop {
        font-size: 16px;
        line-height: 29px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 29px;
        margin-left: 21px;
        margin-right: 16px;
      }
    }
  }
}

.tabs-header {
  @include mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tab {
    @include mobile {
      margin-right: 23px;
    }
  }

  .active-tab {
    @include mobile {
      color: color(harmanBlue);
    }
  }
}

.image-ie-fix {
  @include mobile {
    height: 100%;
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @include mobile {
    margin: 0px 15px 25px 15px;
  }   

  .video-single {
    @include desktop {
      justify-content: center;
    }
  }

  .video-single {
    width: 100%;

    @include desktop {
      display: flex;
      flex-direction: row;
    }

    > div {    
      @include desktop {
        width: 100%;
      }
      @include mobile {
        width: 100%;
      }

      > div {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
    
        > iframe {
          position: absolute;
        }
      }
    }
  }
}